/////////////////
//    Colors   //
/////////////////

$color__primary--light: #DD0000 !default;
$color__primary: #C10000 !default;
$color__primary--dark: #990000 !default;

/////////////////
// Font sizes  //
/////////////////

$base__font--size: 15 !default;
$base__line: 20 !default;

/////////////////
//    Fonts    //
/////////////////

$text__family--sans: 'Helvetica Neue', sans-serif;
$text__color--base: #333333 !default;

/////////////////
// Media Sizes //
/////////////////

$width__small: 425px !default;
$width__medium: 768px !default;
$width__large: 1024px !default;
$width__larger: 1440px !default;
$width__largest: 2500px !default;